.root {
  display: block;
}
.Organizer {
  background-image: url('https://i.pinimg.com/736x/70/e1/b6/70e1b6a21728aa677acd08738518915b.jpg');
  color: #270060;
  display: grid;
  grid-template-areas:
    'header'
    'UL UR'
    'BL BR';
  grid-auto-flow: row;
  grid-template-rows: minmax(auto, auto) minmax(auto, auto);
  max-height: 1000px;
}
.UL {
  display: grid;
  grid-auto-flow: column;
  align-self: start;
}
.UR {
  display: grid;
}
.MainBody {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 3fr 1fr;
  gap: 5px;
  overflow: scroll;
  flex-grow: 10;
  max-height: 800px;
}
